.body {
   background-color: #1f2ce4;
}
.header {
   background-color: #f2f3f7;
   color: #315994;
   padding: 20px;
   text-align: center;
} 
.header2 {
   background-color: #f2f3f7;
   color: #315994;
   padding: 20px;
   text-align: left;

}